# ==============================
# React / Node.js
# ==============================
node_modules/
build/
.env
.env.local

# ==============================
# .NET / C#
# ==============================
bin/
obj/
.vs/

# ==============================
# Logs
# ==============================
*.log
# ======== Visual Studio / Rider / VS Code ========
.vs/
.idea/
.vscode/
